<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2014年，第一次接触计算机编程语言，学习的是C语言。</p>
        <p>2015年，参加电子设计竞赛，了解学习了单片机和STM32 微处理器。</p>
		<p>2016年，参加电子设计竞赛，FPGA入门到放弃。</p>
		<p>2017年，玩耍，毕设划水。</p>
		<p>2018年，读研，因为项目需要再次学习FPGA。</p>
		<p>2019年至今年，读研，乱学，啥也不会; 精通 Windows 系统各种版本的重装与激活 .</p>

<!--          <p>
          <strong>个人微信</strong>：<a href="https://www.upsame.com/assets/images/keeppuresmile.jpg" target="_blank">不知道 </a>，“分享技术、感悟人生”欢迎关注
        </p> 


        <p><strong>About name</strong></p>

        <p>他山之石，可以攻玉</p>

        <p>
          <a href="https://mp.weixin.qq.com/s/GNHJfYdlb-TXnb5r4KhYNA" target="_blank">   生命短暂犹如露珠消散，人们在奔波中探寻答案；
          </a>
        </p>
-->

        <h2>Articles</h2>
        <p>运数仿佛大海起伏不定，掌上迷离脉纹回路漫漫</p>

        <ul>
          <li>
            2019-10-01 <strong><a href="https://www.upsame.com/it/2019/10/01/web-local-net.html"> 内网搭建外网可以访问的WEB服务
            </a></strong>
          </li>
		  
           <li>
            2019-10-12  <strong><a href="https://www.upsame.com/it/2019/10/12/ocr-choose.html"> OCR选择
            </a></strong>
          </li>
        </ul>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<a href="https://www.upsame.com/assets/images/add_my_wehat.png" target="_blank">扫码添加 </a>（备注：博客）</li>
        </ul>

<!--         <p><strong>Group</strong></p>
        <p><em>创建了一些不同类别的QQ群，大家如果有兴趣可以加入，请不要重复入群！加入方式：请关注公众号：<a href="http://www.upsame.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑</a>，回复关键字</em></p>

       <ul>
            <li>springboot交流群 - 关键字：springboot</li>
            <li>原创作者交流群 - 关键字：原创</li>
        </ul>

        <p><em>如果上面的群都不合适你，入群（<strong>200596287</strong>）交流IT人的技术与生活</em></p> 
		-->

       <h2>
         Note
       </h2>

        <p>
         纵横交错兮天下之局，谁能参悟兮世事如棋？
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。
        </li>
         
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>

       <h2>
         History
       </h2>

       <ul>
            <li>2019年，建站，托管于 Github Pages。</li>
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元:)
       </p>

       <p align="center">
         <img src="https://www.upsame.com/assets/images/payme6.6.png" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>