<div>
   <p align="center">
             <img src="http://upsame.com/assets/images/head_upsame_smaller.png" >
         <br/>
          同一个世界，同一个梦想~
   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://upsame.com">遇见·未来 Upsame.com </a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="http://www.3gpp.org/" target="_blank">点击了解 ：5G 我们的时代</a></strong>
   </p>
</div>